.about-project {
  background-color: #fafafa;
}

.about-project__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.about-project__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 550px;
  margin: 0 40px 0 0;
}

.about-project__subtitle {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  font-weight: 400;
}

.about-project__text {
  font-size: 14px;
  line-height: 20px;
  margin: 26px 0 0;
}

.about-project__timeline {
  width: 100%;
  height: 36px;
  display: flex;
  margin-top: 110px;
}

.timeline__backend {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  text-align: center;
  background: #3456f3;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  position: relative;
  height: 100%;
}

.timeline__frontend {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  text-align: center;
  background: #f2f2f2;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  position: relative;
  height: 100%;
}

.timeline__note {
  position: absolute;
  bottom: -31px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #a0a0a0;
  margin: 0;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .about-project__block {
    margin: 0 30px 0 0;
  }

  .about-project__text {
    font-size: 12px;
    line-height: 18px;
    margin-top: 22px;
  }
}

@media screen and (max-width: 768px) {
  .about-project__info {
    flex-direction: column;
    margin-top: 60px;
  }
  .about-project__block {
    width: 100%;
    margin: 56px 0 0;
  }
  .about-project__block:first-of-type {
    margin: 0;
  }
  .about-project__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .about-project__text {
    margin-top: 16px;
    font-size: 11px;
    line-height: 16px;
  }
  .about-project__timeline {
    margin-top: 60px;
  }
  .timeline__backend,
  .timeline__frontend {
    font-size: 11px;
    line-height: 13px;
  }
  .timeline__note {
    font-size: 11px;
    line-height: 13px;
  }
}
