.section {
  padding: 110px 70px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 70px 18px;
  }
}
