.promo {
  display: flex;
  flex-direction: column;
  background-color: #DDDEE3;
  padding: 50px 70px 60px;
}

.promo__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  width: 626px;
  margin: 0;
}

.promo__image {
  margin-top: 102px;
  width: 722px;
  align-self: flex-end;
}
