.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  margin: 74px 0 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 107px;
  width: 410px;
}

.profile__input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 0 17px;
  width: 100%;
  border-bottom: 1px #e8e8e8 solid;
}

.profile__input-group:last-of-type {
  border-bottom: none;
}

.profile__label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  border: none;
  outline: none;
  text-align: right;
}

.profile__buttons {
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile__button {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}
.profile__button_edit {
  color: #000;
}
.profile__button_exit {
  color: #ee3465;
  margin-top: 16px;
}
.profile__button_save {
  background: #3456f3;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 13px 0 15px;;
  transition: background 0.2s ease-in-out;
}
.profile__button_inactive{
  display: none;
}

.profile__button_save:hover {
  background: #3457f3c8;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  
  .profile__title {
    margin: 236px 0 0;
  }
  
  .profile__form {
    margin-top: 96px;
  }
  
  .profile__buttons {
    margin-top: 210px;
    padding-bottom: 296px;
  }
}

@media screen and (max-width: 768px) {
  .profile__title {
    margin: 70px 0 0;
    font-size: 24px;
    line-height: 29px;
  }
  
  .profile__form {
    margin-top: 80px;
    width: calc(100% - 60px);
    padding: 0 30px;
  }
  
  .profile__buttons {
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

